In [1]:
import pandas as pd

#PEMBACAAN DATASET CENSUS
X = pd.read_csv('DatasetEskperimen/CensusIncome/CencusIncome.data.txt', sep=",", header=None, names=["age", "workclass", "fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","50K"])

print(X)
target = X["50K"]
print("INI TARGETNYA : ")
print(target)

census = X[["age", "workclass", "fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country"]]


print("DATANYA INI LOH : ")
print(census)
print()

       age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
7       52   Self-emp-not-inc  209642        HS-grad              9
8       31            Private   45781        Masters             14
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
12      23            Private  122272      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
19      43   Self-emp-not-inc  292175        Masters             14
20      40            Private  193524      Doctorate             16
21      54            Private  302146        HS-grad              9
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
24      59            Private  109015        HS-grad              9
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                  ?  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
...    ...                ...     ...            ...            ...
32531   30                  ?   33811      Bachelors             13
32532   34            Private  204461      Doctorate             16
32533   54            Private  337992      Bachelors             13
32534   37            Private  179137   Some-college             10
32535   22            Private  325033           12th              8
32536   34            Private  160216      Bachelors             13
32537   30            Private  345898        HS-grad              9
32538   38            Private  139180      Bachelors             13
32539   71                  ?  287372      Doctorate             16
32540   45          State-gov  252208        HS-grad              9
32541   41                  ?  202822        HS-grad              9
32542   72                  ?  129912        HS-grad              9
32543   45          Local-gov  119199     Assoc-acdm             12
32544   31            Private  199655        Masters             14
32545   39          Local-gov  111499     Assoc-acdm             12
32546   37            Private  198216     Assoc-acdm             12
32547   43            Private  260761        HS-grad              9
32548   65   Self-emp-not-inc   99359    Prof-school             15
32549   43          State-gov  255835   Some-college             10
32550   43   Self-emp-not-inc   27242   Some-college             10
32551   32            Private   34066           10th              6
32552   43            Private   84661      Assoc-voc             11
32553   32            Private  116138        Masters             14
32554   53            Private  321865        Masters             14
32555   22            Private  310152   Some-college             10
32556   27            Private  257302     Assoc-acdm             12
32557   40            Private  154374        HS-grad              9
32558   58            Private  151910        HS-grad              9
32559   22            Private  201490        HS-grad              9
32560   52       Self-emp-inc  287927        HS-grad              9

               marital-status          occupation     relationship  \
0               Never-married        Adm-clerical    Not-in-family
1          Married-civ-spouse     Exec-managerial          Husband
2                    Divorced   Handlers-cleaners    Not-in-family
3          Married-civ-spouse   Handlers-cleaners          Husband
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
7          Married-civ-spouse     Exec-managerial          Husband
8               Never-married      Prof-specialty    Not-in-family
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse     Exec-managerial          Husband
11         Married-civ-spouse      Prof-specialty          Husband
12              Never-married        Adm-clerical        Own-child
13              Never-married               Sales    Not-in-family
14         Married-civ-spouse        Craft-repair          Husband
15         Married-civ-spouse    Transport-moving          Husband
16              Never-married     Farming-fishing        Own-child
17              Never-married   Machine-op-inspct        Unmarried
18         Married-civ-spouse               Sales          Husband
19                   Divorced     Exec-managerial        Unmarried
20         Married-civ-spouse      Prof-specialty          Husband
21                  Separated       Other-service        Unmarried
22         Married-civ-spouse     Farming-fishing          Husband
23         Married-civ-spouse    Transport-moving          Husband
24                   Divorced        Tech-support        Unmarried
25         Married-civ-spouse        Tech-support          Husband
26              Never-married        Craft-repair        Own-child
27         Married-civ-spouse                   ?          Husband
28                   Divorced     Exec-managerial    Not-in-family
29         Married-civ-spouse        Craft-repair          Husband
...                       ...                 ...              ...
32531           Never-married                   ?    Not-in-family
32532      Married-civ-spouse      Prof-specialty          Husband
32533      Married-civ-spouse     Exec-managerial          Husband
32534                Divorced        Adm-clerical        Unmarried
32535           Never-married     Protective-serv        Own-child
32536           Never-married     Exec-managerial    Not-in-family
32537           Never-married        Craft-repair    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32539      Married-civ-spouse                   ?          Husband
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32542      Married-civ-spouse                   ?          Husband
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32547      Married-civ-spouse   Machine-op-inspct          Husband
32548           Never-married      Prof-specialty    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32550      Married-civ-spouse        Craft-repair          Husband
32551      Married-civ-spouse   Handlers-cleaners          Husband
32552      Married-civ-spouse               Sales          Husband
32553           Never-married        Tech-support    Not-in-family
32554      Married-civ-spouse     Exec-managerial          Husband
32555           Never-married     Protective-serv    Not-in-family
32556      Married-civ-spouse        Tech-support             Wife
32557      Married-civ-spouse   Machine-op-inspct          Husband
32558                 Widowed        Adm-clerical        Unmarried
32559           Never-married        Adm-clerical        Own-child
32560      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital-gain  capital-loss  \
0                    White     Male          2174             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male             0             0
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
7                    White     Male             0             0
8                    White   Female         14084             0
9                    White     Male          5178             0
10                   Black     Male             0             0
11      Asian-Pac-Islander     Male             0             0
12                   White   Female             0             0
13                   Black     Male             0             0
14      Asian-Pac-Islander     Male             0             0
15      Amer-Indian-Eskimo     Male             0             0
16                   White     Male             0             0
17                   White     Male             0             0
18                   White     Male             0             0
19                   White   Female             0             0
20                   White     Male             0             0
21                   Black   Female             0             0
22                   Black     Male             0             0
23                   White     Male             0          2042
24                   White   Female             0             0
25                   White     Male             0             0
26                   White     Male             0             0
27      Asian-Pac-Islander     Male             0             0
28                   White     Male             0             0
29                   White     Male             0             0
...                    ...      ...           ...           ...
32531   Asian-Pac-Islander   Female             0             0
32532                White     Male             0             0
32533   Asian-Pac-Islander     Male             0             0
32534                White   Female             0             0
32535                Black     Male             0             0
32536                White   Female             0             0
32537                Black     Male             0             0
32538                Black   Female         15020             0
32539                White     Male             0             0
32540                White   Female             0             0
32541                Black   Female             0             0
32542                White     Male             0             0
32543                White   Female             0             0
32544                Other   Female             0             0
32545                White   Female             0             0
32546                White   Female             0             0
32547                White     Male             0             0
32548                White     Male          1086             0
32549                White   Female             0             0
32550                White     Male             0             0
32551   Amer-Indian-Eskimo     Male             0             0
32552                White     Male             0             0
32553   Asian-Pac-Islander     Male             0             0
32554                White     Male             0             0
32555                White     Male             0             0
32556                White   Female             0             0
32557                White     Male             0             0
32558                White   Female             0             0
32559                White     Male             0             0
32560                White   Female         15024             0

       hours-per-week  native-country     50K
0                  40   United-States   <=50K
1                  13   United-States   <=50K
2                  40   United-States   <=50K
3                  40   United-States   <=50K
4                  40            Cuba   <=50K
5                  40   United-States   <=50K
6                  16         Jamaica   <=50K
7                  45   United-States    >50K
8                  50   United-States    >50K
9                  40   United-States    >50K
10                 80   United-States    >50K
11                 40           India    >50K
12                 30   United-States   <=50K
13                 50   United-States   <=50K
14                 40               ?    >50K
15                 45          Mexico   <=50K
16                 35   United-States   <=50K
17                 40   United-States   <=50K
18                 50   United-States   <=50K
19                 45   United-States    >50K
20                 60   United-States    >50K
21                 20   United-States   <=50K
22                 40   United-States   <=50K
23                 40   United-States   <=50K
24                 40   United-States   <=50K
25                 40   United-States    >50K
26                 40   United-States   <=50K
27                 60           South    >50K
28                 80   United-States   <=50K
29                 40   United-States   <=50K
...               ...             ...     ...
32531              99   United-States   <=50K
32532              60   United-States    >50K
32533              50           Japan    >50K
32534              39   United-States   <=50K
32535              35   United-States   <=50K
32536              55   United-States    >50K
32537              46   United-States   <=50K
32538              45   United-States    >50K
32539              10   United-States    >50K
32540              40   United-States   <=50K
32541              32   United-States   <=50K
32542              25   United-States   <=50K
32543              48   United-States   <=50K
32544              30   United-States   <=50K
32545              20   United-States    >50K
32546              40   United-States   <=50K
32547              40          Mexico   <=50K
32548              60   United-States   <=50K
32549              40   United-States   <=50K
32550              50   United-States   <=50K
32551              40   United-States   <=50K
32552              45   United-States   <=50K
32553              11          Taiwan   <=50K
32554              40   United-States    >50K
32555              40   United-States   <=50K
32556              38   United-States   <=50K
32557              40   United-States    >50K
32558              40   United-States   <=50K
32559              20   United-States   <=50K
32560              40   United-States    >50K

[32561 rows x 15 columns]
INI TARGETNYA :
0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
5         <=50K
6         <=50K
7          >50K
8          >50K
9          >50K
10         >50K
11         >50K
12        <=50K
13        <=50K
14         >50K
15        <=50K
16        <=50K
17        <=50K
18        <=50K
19         >50K
20         >50K
21        <=50K
22        <=50K
23        <=50K
24        <=50K
25         >50K
26        <=50K
27         >50K
28        <=50K
29        <=50K
          ...
32531     <=50K
32532      >50K
32533      >50K
32534     <=50K
32535     <=50K
32536      >50K
32537     <=50K
32538      >50K
32539      >50K
32540     <=50K
32541     <=50K
32542     <=50K
32543     <=50K
32544     <=50K
32545      >50K
32546     <=50K
32547     <=50K
32548     <=50K
32549     <=50K
32550     <=50K
32551     <=50K
32552     <=50K
32553     <=50K
32554      >50K
32555     <=50K
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: 50K, Length: 32561, dtype: object
DATANYA INI LOH :
       age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
7       52   Self-emp-not-inc  209642        HS-grad              9
8       31            Private   45781        Masters             14
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
12      23            Private  122272      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
19      43   Self-emp-not-inc  292175        Masters             14
20      40            Private  193524      Doctorate             16
21      54            Private  302146        HS-grad              9
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
24      59            Private  109015        HS-grad              9
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                  ?  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
...    ...                ...     ...            ...            ...
32531   30                  ?   33811      Bachelors             13
32532   34            Private  204461      Doctorate             16
32533   54            Private  337992      Bachelors             13
32534   37            Private  179137   Some-college             10
32535   22            Private  325033           12th              8
32536   34            Private  160216      Bachelors             13
32537   30            Private  345898        HS-grad              9
32538   38            Private  139180      Bachelors             13
32539   71                  ?  287372      Doctorate             16
32540   45          State-gov  252208        HS-grad              9
32541   41                  ?  202822        HS-grad              9
32542   72                  ?  129912        HS-grad              9
32543   45          Local-gov  119199     Assoc-acdm             12
32544   31            Private  199655        Masters             14
32545   39          Local-gov  111499     Assoc-acdm             12
32546   37            Private  198216     Assoc-acdm             12
32547   43            Private  260761        HS-grad              9
32548   65   Self-emp-not-inc   99359    Prof-school             15
32549   43          State-gov  255835   Some-college             10
32550   43   Self-emp-not-inc   27242   Some-college             10
32551   32            Private   34066           10th              6
32552   43            Private   84661      Assoc-voc             11

In [4]:
#PEMBELAJARAN KNN
import numpy as np
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from sklearn.datasets import load_svmlight_files
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

#iris = datasets.load_iris()

#PEMBACAAN DATASET CENSUS
cen = pd.read_csv('DatasetEskperimen/CensusIncome/CencusIncome.data.txt', sep=", ", header=None, names=["age", "workclass", "fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","50K"])
    
census_data = cen[["age", "workclass", "fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country"]]
census_target = cen["50K"]

#X_train, y_train, X_test, y_test = load_svmlight_files(("C:\\Users\\Asus\\Desktop\\Tubes 2 AI\\DatasetEskperimen\\CensusIncome\\CencusIncome.data.txt", "C:\\Users\\Asus\\Desktop\\Tubes 2 AI\\DatasetEskperimen\\CensusIncome\\CencusIncome.test.txt"))

#print(X_train)
#print(y_train)
#print(X_test)
#print(y_test)

#print(census_target)

#changing target into float 0 and 1
new = []

for index, item in enumerate(census_target):
    if (item == " <=50K"):
        new.append(0.0)
    else:
        if(item == " >50K"):
            new.append(1.0)
        else:
            new.append(2.0)

new_data = pd.get_dummies(census_data)
#print(new_data)
#enc = OneHotEncoder()

#enc.fit(census_data)
#print(enc)

#print(census_target)
#print(new)
#setting up random learning data
#np.random.seed(0)
#indices = np.random.permutation(len(iris.data))
#iris_data_train = iris.data[indices[:-10]]
#iris_target_train = iris.target[indices[:-10]]
#iris_data_test = iris.data[indices[-10:]]
#iris_target_test = iris.target[indices[-10:]]

#learning dataset
#knn = KNeighborsClassifier(n_neighbors = 5)

#printing model
#print('Model :',knn)

#knn.fit(new_data,new)
#print('learning done!')

#predicting learning data 
#knn.predict(iris_data_test)
#iris_target_test

split_number = 10

#folding
kf = KFold(n_splits=split_number,shuffle= True)
for train_index,test_index in kf.split(new_data):
    data_train,data_test = new_data[train_index],new_data[test_index]
    target_train,target_test = new[train_index], new[test_index]
    
    #learning dataset
    knn = KNeighborsClassifier(n_neighbors = 1)
    knn.fit(data_train,target_train)
    
    #predicting learning data 
    prediction = knn.predict(data_test)
    print('PREDICTION: ',prediction)
    print('TARGET TEST : ',target_test)
    
    #generating confusion matrix
    #conf_matrix = 
    conf = confusion_matrix(target_test,prediction)
    print(conf)

    #accuracy
    acc = accuracy_score(target_test,prediction)
    print(acc)
    
    #precision
    prec = precision_score(target_test,prediction,average=None)
    print(prec)
    
    #recall
    rec = recall_score(target_test,prediction,average=None)
    print(rec)

KeyError: '[    0     1     2 ..., 32558 32559 32560] not in index'